body {
    background: #323232;
    color: #dedede;
}

h1 {
    color: darkgreen;
}

.title {
    background-color: saddlebrown;
}

#title {
    background: linear-gradient(to right, #323232, #dedede);
    color: darksalmon;
}

a, a:visited, a:active {
    padding: 0px 3px;
    color: darksalmon;
}

a:hover {
    background: darksalmon;
    color: #323232;
}